.sign-in {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .sign-in {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .buttons {
    display: block;
  }
}
